*{
    padding: 0%;
    margin: 0%;
}

.hero{
    background-image: url(Apple\ logo.jpeg);
    height: 70vh;
    width: 100%;
    text-align: center;
    background-size: cover;
    padding-bottom: 50px;
    margin: 50px;

    h1{
        padding-top: 70px;
    }

    .hero p{
        font-size: 3em;
    }
     button{
        padding: 5px;
        border-radius: 10px;
        padding-bottom: 5px;
        font-size: 20px;
        background-color: gold;
        
        
    }

}
.flex-container{
    display: flex;
    justify-content: space-around;

    h1{
        color: red;
    }

    button{
        font-size: 20px;
        padding: 10px;
        border-radius: 20px;
        padding-left: 20px;
        margin-left: 100px;
    }
}